@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Fira Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero-section, 
.info-section,
.quote-section,
.signup-section {
    display: flex;
    justify-content: center;
}

.hero-container,
.info-container,
.quote-container,
.signup-container {
    width: 70%;
}

.hero-section,
.footer-section {
    background-color: #452216;
    color: #ffffff;
}


/* Hero Section */
.hero-container {
    min-height: 550px;
    display: flex;
    flex-direction: column;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

ul {
    display: flex;
    list-style: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

li {
    margin-left: 10px;
}

.logo-text {
    font-size: 24px;
    color: #f5f5dc;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f5f5dc;
}

.secondary-text {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    width: 300px;
}

button {
    background-color: #fbdfa2;
    color: #000000;
    padding: 6px 35px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
}

.hero-text {
    flex: 1;
}

.hero-image {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

/* Info Section */
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 400px ;
}

.info-gallery {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: 900px;
    color: #000000;
    padding: 16px 0;
}

.info-card {
    width: 180px;
}

.card-img {
    border-radius: 10px;
}